@import './variables.scss';
@import './page.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: $text;
  opacity: .8;
  &:hover {
    opacity: 1;
  }
}
button {
  cursor: pointer;
  &:disabled {
    opacity: .6;
  }
}