$background: #B2EBF2;
$secondary_background: #ffffff;
$light_background: #f5f5f5;
$accent: #03A9F4;
$accent_secondary: #0097A7;
$secondary_text: #FFFFFF;
$text: #212121;
$button: #03A9F4;
$shadow: rgba(189, 189, 189, 0.425);
$line: #757575;